################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/MvcInternetApplication/v15/Server/sqlite3
/.vs/MvcInternetApplication/v15
