.mist_card {
	box-sizing: border-box;
	border-radius: 5%;
	content: '';
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	display: none;
}

.cancel_card {
	box-sizing: border-box;
	border-radius: 5%;
	content: '';
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

.mist_card p, .cancel_card p {
	font: 1.35vw 'Century Gothic';
	color: white;
}

.mist_card div, .cancel_card div {
	background: rgba(0, 0, 0, 0.6);
	display: block;
	width: 100%;
	height: calc(50% - 1px);
	padding-top: 5%;
	box-sizing: border-box;
}

.m_c1 {
	border-radius: 5% 5% 0 0;
}

.m_c2 {
	border-radius: 0 0 5% 5%;
	padding-top: 20%;
}

.underline {
	background: rgb(231, 204, 14);
	height: 2px;
	content: '';
}

.cards {
	box-sizing:	border-box;
	background: rgb(250, 250, 250);
	width:		100%;
	height:		auto;	
	text-align: center;
	overflow:	hidden;
	border-radius:	5%;
}

.cards div {
	align-items: center;
	padding:0;
}

.cards div p {
	position:		relative;
	overflow:		hidden;
	text-overflow:	ellipsis;
	white-space:	nowrap;
	width:			100%;
}

.cards:hover {
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.75);
	border:		none;
}

.cards .header {
	height:			20%;
	background:		rgb(83, 81, 78);
	box-sizing:		border-box;
	border-bottom:	0.75vmin solid rgba(154, 12, 19, 0.7);
}

.header p {
	position:	relative;
	top:		calc(50% - 1.25vmax - 4px);

	color:		white;
	font:		2.5vmax 'Century Gothic';
}

.cards .footer {
	background: rgb(83, 81, 78);
	height:		10%;
	padding:	0 1%;

	font: 1vmax 'Century Gothic';
}

.cards .section, .cards .sub-section {
	box-sizing: border-box;
	height:		15%;
}

.cards .section {
	border-bottom: 0.5vmin solid rgba(154, 12, 19, 0.5);
}

.cards .sub-section {
	border-bottom: 0.5vmin solid rgba(200, 200, 200, 0.25);
}

.cards .section p, .cards .sub-section p {
	font:		2vmax 'Century Gothic';

	position:	relative;
	top:		calc(50% - 1vmax - 4px);
}

.cards .formula {
	height: 40%;
	box-sizing: border-box;
	overflow: auto;
}

.cards .formula p {
	position:	relative;
	top:		calc(50% - 1vmax);

	font:		2vmax 'Cambria Math';
}
