#screen {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	border-radius: none;
	z-index: 5;
}

#active_zone {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#exp_card {
	height: 92%;
	background: rgb(250, 250, 250);
	padding: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 10% 5% 80% 5%;
	position: relative;
	left: 25%;
	top: 4%;
}

	#exp_card div header {
		background: rgb(83, 81, 78);
		font: 2vw 'Century Gothic';
		color: white;
		height: 100%;
		padding: calc(5% + 5px - 1vw) 0;
		box-sizing: border-box;
		border-bottom: 10px solid rgba(154, 12, 19, 0.7);
	}

	#exp_card #stripe article {
		display: inline-block;
		box-sizing: border-box;
		border-bottom: 5px solid rgba(154, 12, 19, 0.7);
		/*border-right:	1px solid rgb(100, 100, 100);*/
		box-shadow: 1px 1px rgb(100, 100, 100);
		width: 100%;
		padding: 2%;
		/* margin-left: -4px;*/
		font: 1vw 'Century Gothic';
	}

		#exp_card #stripe article:hover {
			background: rgb(240, 240, 240);
		}

	#exp_card #inner {
		padding: 5% 5% 0% 5%;
		overflow-y: scroll;
	}

#inner #definition {
	font: 1.25vw 'Century Gothic';
	text-align: left;
}

#inner #exp_formula {
	font: 2vw 'Century Gothic';
	margin: 5% 0;
}

#inner #exp_card_main {
	font: 1.25vw 'Century Gothic';
	text-align: left;
}

	#inner #exp_card_main p {
		margin: 1.5vw 0;
	}

#exp_card div footer {
	background: rgb(83, 81, 78);
	font: 1vw 'Century Gothic';
	color: white;
	height: 100%;
	padding: calc(5% - 0.75vw);
	box-sizing: border-box;
}

/*exp_cat*/

.exp_cat {
	background: rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	display: none;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.paw {
	z-index: 6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.exp_cat section {
	z-index: 7;
	background: rgb(35, 35, 35);
	width: 61.8%;
	height: auto;
	padding: 2% 2% 2% 0;
	position: relative;
	left: 19.1%;
	top: 15%;
	overflow: auto;
}

.kittie_grid {
	margin-top: 5%;
	display: block;
}

	.kittie_grid div {
		display: grid;
		grid-template-columns: 30% 70%;
	}

.exp_cat p {
	font: bold 1.25vw 'Century Gothic';
	color: white;
	margin:2.5% 2%;
	padding:1% 2%;
	text-align:right;
}

.exp_cat input[type=text], .exp_cat input[type=password] {
	width:			100%;
	box-sizing:		border-box;
	padding:		1% 2%;
	margin:			2.5% 0;
	font:			1.25vw 'Century Gothic';
	background:		white;
	vertical-align:	middle;
}

.exp_cat input[type=submit]{
	background:	none;
	color:		white;
	font:		1.5vw 'Century Gothic';
	border:		none;
}

.exp_cat article {
	font: 2vw 'Century Gothic';
	color: white;
	padding: 3% 5% 5% 5%;
	border-bottom: 10px solid rgb(67, 154, 71);
}

.button3 {
	display: inline-block;
	width: 40%;
	height: 15%;
	border: 3px solid rgb(70, 185, 90);
	margin-top: 5%;
	font: 2vw 'Century Gothic';
	color: white;
}

	.button3:hover {
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
		background: rgba(255, 255, 255, 0.15);
	}

.kittie_span {
	display: inline-block;
	width: 60%;
	margin-top: 7.5%;
	font: 1.25vw 'Century';
	color: white;
	border: 2px dotted rgb(67, 154, 71);
}

@media screen and (max-width: 1000px) {
	.exp_cat section {
		width: 38.2%;
	}
}

@media screen and (max-width: 999px) and (min-width: 501px) {
	/*#exp_card*/

	#exp_card div header {
		font-size: 3vw;
	}

	#exp_card #stripe article {
		font-size: 2vw;
	}

	#inner #definition {
		font-size: 3.25vw;
	}

	#inner #exp_formula {
		font-size: 3.5vw;
	}

	#inner #exp_card_main {
		font-size: 3vw;
	}

	#exp_card div footer {
		font-size: 4vw;
	}

	.exp_cat section {
		width: 61.8%;
		left: 19.1%;
	}
}

@media screen and (max-width: 500px) {
	/*#exp_card*/

	#exp_card #stripe article {
		font-size: 5vw;
	}

	#exp_card div header {
		font-size: 6vw;
	}

	#inner #definition {
		font-size: 5vw;
	}

	#inner #exp_formula {
		font-size: 5.5vw;
	}

	#inner #exp_card_main {
		font-size: 4.5vw;
	}

	#exp_card div footer {
		font-size: 4vw;
	}

	.exp_cat section {
		width:	90%;
		top:	10%;
		left:	5%;
	}

	.exp_cat p {
		font: bold 4vw 'Century Gothic';
		word-wrap:break-word;
		hyphens:auto;
	}

	.exp_cat input[type=text], .exp_cat input[type=password] {
		font: 3vw 'Century Gothic';
	}

	.exp_cat input[type=submit] {
		font: 3vw 'Century Gothic';
	}

	.exp_cat article {
		font: 5vw 'Century Gothic';
	}

	.button3 {
		font: 3vw 'Century Gothic';
	}

	.kittie_span {
		font: 2vw 'Century';
	}
}
