@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/century_gothic.ttf');
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#blackscreen {
	width: 90%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid red;
}

#wood_bg {
	box-sizing: border-box;
}

#NAVIGATOR {
	grid-area: up;
	overflow: hidden;
}

#blackscreen {
	grid-area: down;
}


::-webkit-scrollbar {
	width:	0.25vmin;
	height: 0.25vmin;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#footer {
	box-sizing: border-box;
	display: block;
	background: rgb(35, 35, 35);
	width: 100%;
	padding: 2.5%;
	margin-top: 3.5%;
}

#footer div{
	display:inline-block;
	vertical-align:middle;
}
#footer p {
	font: 1.25vw 'Century Gothic';
	color: white;
}

#footer article {
	font: 1.5vw 'Century Gothic';
	color: white;
	margin-bottom:3%;
}

@media screen and (max-width: 999px) and (min-width: 501px) {
	#footer p {
		font-size: 1.5vw;
	}

	#footer article {
		font-size: 2vw;
	}
}

@media screen and (max-width: 500px) {
	#footer p {
		font-size: 2.25vw;
		letter-spacing: 1px;
	}
	#footer article {
		font-size: 2.65vw;
	}
}
