#lay_nav header{
	text-align:	left;
	width:		38.2%;
}

#lay_nav{
	width:		100%;
	background:	rgb(50, 50, 50);
	display: 		flex;
	justify-content:center;

	margin-bottom:	2%;
}

#lay_nav_right{
	width:			61.8%;
	display:		flex;
	align-items:	flex-start;
	align-content:	flex-start;
	justify-content:center;
}

.nav_tab{
	position:		relative;
	border-bottom:	0.5vmin solid rgb(248, 200, 7);
	margin-right:	2%;
	text-align:		center;
	box-sizing:		border-box;
	vertical-align:	middle;
	
	position:		relative;
	top:			calc(50% - 0.75vmax - 0.25vmin);
}

.nav_tab a{
	text-decoration:	none;
	color:				white;
	font:				1.25vmax/1.5vmax 'Century Gothic';
}

/*--------------------------------*/
/*---------TABLET SCREEN----------*/
/*--------------------------------*/
/*

@media screen and (max-width: 999px) and (min-width: 501px) {
}

@media screen and (max-width: 500px) {
		.navigator_point a {
			border-bottom: 3px solid rgb(231, 204, 14);
		}
}*/
