#t2{
	display: flex;
	flex: 1;
}

#t2 a {
	color:		black;
	font:		1.25vmax 'Century Gothic';
	cursor:		pointer;
	text-decoration: none;
}

#t2 .pr_make_button {
	display:	block;
	box-sizing: border-box;
	padding:	1.5% 0;
	width:		100%;
	box-shadow: 2px 2px 4px rgb(100, 100, 100);
	
	margin-top: 5%;
	text-align: center;

	color: black;
	font: 1.25vmax 'Century Gothic';
}

#t2 .pr_make_button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#t2_collumn {
	width:			36.2%;
	margin-right:	2%;
}

#t2_collumn article {
	box-sizing: border-box;
	width: 100%;
	background: rgba(35, 35, 35, 0.8);
	padding: 4% 0;
	margin: 0.5% 0;
	text-align: right;
	border-right: 1.25vmin solid olive;
}

#t2_collumn a {
	overflow:		hidden;
	margin-right:	2%;

	color:				white;
	font:				1.5vmax 'Century Gothic';
	text-decoration:	none;
	word-wrap:			break-word;
	text-overflow:		ellipsis;
	white-space:		nowrap;
}

#t2_collumn .t2_nav_active {
	background:		rgb(35, 35, 35);
	border-right:	7px solid green;
}

/*Specific Code*/

.t2_sec {
	font: 1.5vmax 'Century Gothic';
	border-bottom: 6px double black;
	text-align: center;
	width: 80%;
	position: relative;
	left: 10%;
	margin-bottom: 2%;
}

#make {
	width: 61.8%;
}

#make_min {
	width: 80%;
	position: relative;
	left: 10%;
	display: grid;
	grid-template-columns: 61.3% 37.3%;
	grid-gap: 1%;
}

#pr_sel {
	width: 100%;
}

#pr_sel .thin_actived{
	background:	rgba(35, 35, 35, 0.9);
}

#pr_sel .thin{
	background:	rgba(35, 35, 35, 0.75);
}

#card_window article {
	font: 0.75vmax 'Century Gothic';
	border-top: 1px solid black;
	text-align: center;
	padding-top: 2%;
}

#card_window {
	background: rgba(16, 82, 36, 0.1);
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
	padding: 2% 0;
	border: 1px solid black;
}

#make_min .cards {
	box-sizing:		border-box;
	width:			80%;
	background:		rgb(250, 250, 250);
	text-align:		center;
	overflow:		hidden;
	border-radius:	5%;
	margin-bottom:	8%;

	position:	relative;
	left:		10%;
}

#make_min .header p {
	position:	relative;
	top:		calc(50% - 0.875vmax);

	font:		1.75vmax 'Century Gothic';
}

#make_min .cards .footer {
	font: 1vmax 'Century Gothic';
}

#make_min .cards .section p, #make_min .cards .sub-section p {
	font:		1.5vmax 'Century Gothic';

	position:	relative;
	top:		calc(50% - 0.75vmax - 0.5vmin);
}

#make_min .cards .formula p {
	position:	relative;
	top:		calc(50% - 0.75vmax);

	font:		1vmax 'Cambria Math';
}

#make_exp {
	width: 80%;
	position: relative;
	left: 10%;
}

#make_exp #exp_card_container {
	box-sizing: border-box;
	width: 37.2%;
	margin-right: 4%;
}

#builder_article{
	font:	1.75vmax 'Century Gothic';
	border-bottom:3px solid black;
	margin-bottom:2%;
}

#make_exp .t2_sub_article {
	width: 48%;
	font: 1.5vmax 'Century Gothic', 'Calibri';
	border-bottom: 0.5vmin double black;
	margin: 1%;
}


.dr {
	background:	white;
	display:	none;
	width:		100%;
	margin-top:	2%;
	flex-wrap:	wrap;
	overflow-y:	auto;
	justify-content:	center;
}

#t2 .button {
	width:			20%;
	border:			1px solid rgba(0, 0, 0, 0.5);
	box-shadow:		2px 3px rgb(100, 100, 100);
	margin:			0.125vmin 0.1875vmin;
	font:			1.25vmax 'Century Gothic';
	text-align:		center;
	padding:		2% 0;
}

#math .t2_sub_article {
	border-bottom: 2px solid black;
	width: 49%;
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 1%;
	position: relative;
	font-size: 1.25vmax;
}

