#t1 {
	display: flex;
	width: 80%;
	margin: 2% 10%;
}

#avatar {
	width: 38.2%;
	padding: 0 2%;
	box-sizing: border-box;
}

#avatar section {
	box-sizing: border-box;
	padding: 2.5%;
	background: rgb(35, 35, 35);
	margin-bottom: 2%;
}

#t1 .button {
	width: 100%;
	font: 1vmax 'Century Gothic';
	padding: 1% 2%;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0.1vmin 0.3vmin rgb(100, 100, 100);
	text-align: center;
	margin-bottom: 1.5%;
}

.side_info {
	width: 61.8%;
	box-sizing: border-box;
	padding: 2% 3%;
}

.side_info .acc {
	display: flex;
	margin-bottom: 1%;
}

.side_info .acc article {
	font: 1.25vmax 'Century Gothic';
	width: 25%;
	padding: 1% 0;
}

.acc input[type=text], .acc input[type=password] {
	width: 75%;
	font: 1.25vmax 'Century Gothic';
	padding: 1% 0;
}

#t1 input[type=submit] {
	font: 1.25vmax 'Century Gothic';
	background: none;
	border: none;
	width: 100%;
}

@media screen and (max-width: 500px) {
	#t1 .button{
		padding:	2% 0;
		margin:		2% 0;
	}
}
