#profile {
	width:			95%;
	margin-left:	2.5%;
	background:		rgba(251, 251, 251, 0.9);
}

#profile nav {
	display:	flex;
	width:		100%;
	border-bottom: 2px solid black;
}

#profile nav section {
	box-sizing: border-box;
	width:		calc(26% + 8.5px);
	height:		0;
	border-bottom:	5vmin solid rgba(0, 0, 0, 0.5);
	border-left:	0px solid transparent;
	border-right:	2.5vmin solid transparent;
	box-shadow:		8px 8px 16px rgb(140, 140, 140) inset;
	z-index:	1;

	position:	relative;
	text-align: center;
}

#profile nav .pr_nav_active {
	border-bottom:	5vmin solid rgb(250, 250, 250);
	z-index:		2;
}

#profile nav section:hover {
	border-bottom:	5vmin solid rgba(0, 0, 0, 0.8);
	z-index:		3;
}

#profile nav .pr_nav_active:hover {
	border-bottom:	5vmin solid rgb(250, 250, 250);
}

#profile nav a{
	overflow:		hidden;
	text-overflow:	ellipsis;
	white-space:	nowrap;

	position:	absolute;
	top:		calc(2.5vmin - 0.625vmax);
	left:		2.5vmin;

	color:	rgb(250, 250, 250);
	font:	bold 1.25vmax 'Century Gothic';
	text-decoration: none;	
}

#profile nav .pr_nav_active a {
	color:	rgb(35, 35, 35);
}

#pr_content{
	width:	100%;
}

#pr_content #edit{
	width:	97.5%;
}

.button:hover{
	background:	rgba(200, 200, 200, 0.5);
}