a {
	color: rgb(133, 78, 41);
	font: 1vw 'Century Gothic';
	cursor: pointer;
}

#profile {
	width: 95%;
	margin-left: 2.5%;
	background: rgba(251, 251, 251, 0.9);
}

	#profile nav {
		width: 100%;
		border-bottom: 2px solid black;
		display: flex;
	}

		#profile nav section {
			z-index: 1;
			position: relative;
			text-align: center;
			box-sizing: border-box;
			height: 0;
			width: calc(26% + 8.5px);
			border-bottom: 50px solid rgba(0, 0, 0, 0.5);
			border-left: 0px solid transparent;
			border-right: 15px solid transparent;
			box-shadow: 8px 8px 16px rgb(140, 140, 140) inset;
		}

			#profile nav section:hover {
				border-bottom: 50px solid rgba(0, 0, 0, 0.8);
				z-index: 3;
			}

		#profile nav .pr_nav_active:hover {
			border-bottom: 50px solid rgb(250, 250, 250);
		}

		#profile nav .pr_nav_active {
			border-bottom: 50px solid rgb(250, 250, 250);
			z-index: 2;
		}

			#profile nav .pr_nav_active a {
				color: rgb(35, 35, 35);
				text-decoration: 0;
			}

		#profile nav section a {
			color: rgb(250, 250, 250);
			text-decoration: 0;
			position: relative;
			font: bold 1.25vw 'Century Gothic', 'Calibri';
			top: calc(25px - 0.75vw);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
#t2 {
	display: flex;
	flex: 1;
}

#t2_collumn {
	width: 26%;
	margin-right: 2%;
}

	#t2_collumn article {
		box-sizing: border-box;
		width: 100%;
		background: rgba(35, 35, 35, 0.8);
		padding: 4% 0;
		margin: 0.5% 0;
		text-align: center;
		border-right: 7.5px solid olive;
	}

	#t2_collumn a {
		color: white;
		font: 1.25vw 'Century Gothic', 'Calibri';
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#t2_collumn .t2_nav_active {
		background: rgb(35, 35, 35);
		border-right: 10px solid green;
	}

.t2_sec {
	font: 1.5vw 'Century Gothic';
	border-bottom: 6px double black;
	text-align: center;
	width: 61.8%;
	position: relative;
	left: 19.1%;
	margin-bottom: 2%;
}

#make {
	width: 72%;
}

#make_min {
	width: 61.8%;
	position: relative;
	left: 19.1%;
	display: grid;
	grid-template-columns: 61.3% 37.3%;
	grid-gap: 1%;
}

#pr_sel {
	width: 100%;
}

	#pr_sel .th {
		box-sizing: border-box;
		text-align: center;
		width: 100%;
	}

	#pr_sel .thin {
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0.8);
		box-shadow: 1px 2px rgb(100, 100, 100) inset;
		width: 100%;
		padding: 1.5% 2%;
		font: 1.25vw 'Century Gothic';
		color: white;
		margin: 0.5% 0 2% 0;
		border-bottom: 5px solid rgb(115, 136, 43);
	}

		#pr_sel .thin:hover {
			background: rgb(100, 100, 100);
			box-shadow: 1px 2px rgb(30, 30, 30);
			text-shadow: 1px 1px black;
		}

	#pr_sel .th_activated .thin {
		background: rgb(0, 0, 0);
		border-bottom: 5px solid rgb(67, 154, 71);
	}

	#pr_sel ol {
		width: 100%;
		display: none;
	}

		#pr_sel ol input {
			box-shadow: 1px 2px rgb(100, 100, 100);
			width: calc(100% - 4px);
			padding: 3px 0;
			font-size: 1vw;
			text-align: center;
		}

		#pr_sel ol li {
			list-style-type: none;
			text-align: center;
		}

		#pr_sel ol ul {
			overflow-y: auto;
			overflow-x: hidden;
		}

			#pr_sel ol ul li {
				list-style-type: none;
				background: rgb(200, 200, 200);
				border: 1px solid rgb(100, 100, 100);
				width: 100%;
				padding: 2% 0;
				font: 1.25vw 'Century Gothic';
				text-shadow: 1px 1px rgb(100, 100, 100);
			}

				#pr_sel ol ul li:hover {
					background: Gainsboro;
					color: black;
				}

.pr_make_button {
	text-decoration: none;
	box-sizing: border-box;
	color: black;
	display: block;
	font: 1.5vw 'Century Gothic';
	text-align: center;
	width: 100%;
	margin-top: 5%;
	box-shadow: 2px 2px 4px rgb(100, 100, 100);
	padding: 1.25% 0
}

	.pr_make_button:hover {
		background: rgba(0, 0, 0, 0.2);
	}

#card_window article {
	font: 0.75vw 'Century Gothic';
	border-top: 1px solid black;
	text-align: center;
	padding-top: 2%;
}

#card_window {
	background: rgba(16, 82, 36, 0.1);
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
	padding: 2% 0;
	border: 1px solid black;
}

	#card_window .cards {
		width: 80%;
		background: rgb(250, 250, 250);
		text-align: center;
		overflow: hidden;
		border-radius: 5%;
		box-sizing: border-box;
		margin-bottom: 8%;
		position: relative;
		left: 10%;
	}

		#card_window .cards div {
			align-items: center;
			padding: 0;
		}

			#card_window .cards div p {
				position: relative;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0;
				width: 100%;
			}

		#card_window .cards .header {
			height: 20%;
			background: rgb(83, 81, 78);
			box-sizing: border-box;
			border-bottom: 6px solid rgba(154, 12, 19, 0.7);
		}

	#card_window .header p {
		position: relative;
		top: calc(50% - 0.5vw);
		font: 1vw 'Century Gothic';
		color: white;
	}

	#card_window .cards .footer {
		background: rgb(83, 81, 78);
		height: 10%;
		padding: calc(5% - 0.5vw) 1%;
		font: 1vw 'Century Gothic';
	}

	#card_window .cards .section, .cards .sub-section {
		height: 15%;
		box-sizing: border-box;
	}

		#card_window .cards .section p {
			font: 1vw 'Century Gothic';
			position: relative;
			top: calc(50% - 0.5vw);
		}

	#card_window .cards .sub-section p {
		font: 1vw 'Century Gothic';
		position: relative;
		top: calc(50% - 0.5vw);
	}

	#card_window .cards .section {
		border-bottom: 4px solid rgba(154, 12, 19, 0.5);
	}

	#card_window .cards .sub-section {
		border-bottom: 4px solid rgba(200, 200, 200, 0.25);
	}

	#card_window .cards .formula {
		height: 40%;
		box-sizing: border-box;
		overflow: auto;
	}

		#card_window .cards .formula p {
			font: 1.25vw 'Cambria Math';
			position: relative;
			top: calc(50% - 0.625vw);
		}

#t2_instr {
	display: block;
	width: 61.8%;
	margin-top: 2%;
	position: relative;
	left: 20.1%;
}

	#t2_instr li {
		font: 1vw/2vw 'Century Gothic';
	}


#make_exp {
	width: 61.8%;
	position: relative;
	left: 19.1%;
}

	#make_exp #exp_card_container {
		box-sizing: border-box;
		width: 38.2%;
	}

	#make_exp #exp_card {
		height: 100%;
		background: rgb(250, 250, 250);
		padding: 0;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
	}

		#make_exp #exp_card div {
			vertical-align: middle;
		}

	#make_exp #exp_header {
		background: rgb(83, 81, 78);
		font: 1.25vw 'Century Gothic';
		color: white;
		height: 10%;
		padding: calc(5% - 0.625vw) 0;
		box-sizing: border-box;
		border-bottom: 10px solid rgba(154, 12, 19, 0.7);
	}

	#make_exp #exp_card #stripe {
		height: 5%;
	}

		#make_exp #exp_card #stripe article {
			box-sizing: border-box;
			border-bottom: 5px solid rgba(154, 12, 19, 0.7);
			box-shadow: 1px 1px rgb(100, 100, 100);
			width: 100%;
			font: 1vw 'Century Gothic';
		}

			#make_exp #exp_card #stripe article:hover {
				background: rgb(240, 240, 240);
			}

	#make_exp #inner {
		padding: 5% 5% 0% 5%;
		overflow-y: auto;
		height: 77%;
		width: 100%;
	}

		#make_exp #inner #definition {
			font: 1vw 'Century Gothic';
			text-align: left;
		}

		#make_exp #inner #exp_formula {
			font: 1.5vw 'Century Gothic';
			margin: 5% 0;
		}

		#make_exp #inner #exp_card_main {
			font: 1vw 'Century Gothic';
			text-align: left;
		}

			#make_exp #inner #exp_card_main p {
				margin: 1.25vw 0;
			}

	#make_exp #exp_footer {
		background: rgb(83, 81, 78);
		font: 1vw 'Century Gothic';
		color: white;
		height: 5%;
		padding: calc(5% - 0.75vw);
		box-sizing: border-box;
	}

#t2_exp_close {
	z-index: 10;
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}

#text_edit {
	z-index: 11;
	position: absolute;
	top: 10%;
	left: 10%;
	overflow: auto;
	width: 80%;
	height: 80%;
	box-sizing: border-box;
	background: rgb(250, 250, 250);
	padding: 2.5%;
}

.dr {
	width: 49%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.button {
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 2px 3px rgb(100, 100, 100);
	margin: 2px 3px;
	font: 1vw 'Calibri Math';
	text-align: center;
	display: none;
}

.norm p {
	position: relative;
	top: calc(50% - 0.5vw);
}

#math .t2_sub_article {
	border-bottom: 2px solid black;
	width: 49%;
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 1%;
	position: relative;
	font-size: 1.25vw;
}

#math {
	width: 100%;
	background: rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	padding: 1%;
	border-bottom: 6px double black;
	margin-bottom: 2%;
}

	#math article {
		text-align: center;
		font: 1.5vw 'Century Gothic';
		padding: 0.25vw 0;
		border-bottom: 6px double black;
		margin-bottom: 2%;
	}

	#math .t2_exp_p {
		font: 1vw 'Century Gothic';
		width: 38.2%;
	}

	#math .t2_exp_span {
		content: '';
		font: 1vw 'Century Gothic';
	}
#t2_exp_p {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.05);
	font: 1.25vw/2vw 'Century Gothic';
	min-height: 200px;
	padding: 0.5% 1%;
}

#text_edit .pr_make_button {
	width: 20%;
	font-size: 1em;
	display: inline-block;
	margin-bottom: 2%;
	float: right;
}
