#profile #t2{
	box-sizing:	border-box;
	padding:	1vw 1vw;
	width:		100%;
	
	background:	rgba(250, 250, 250, 0.6);
	text-align:	center;
} 

#profile #t2OP{
	margin-top:	5vh;
	
	text-align:	center;
}

#profile #t2OP article{
	padding:	1vh 0;
	
	border-bottom:	0.25vmin solid rgba(220, 220, 220, 0.8);
	
	color:	rgb(200, 200, 200);
	font:	1.25vmax/1.5vmax 'Century Gothic';
}

#profile #t2OP section{
	min-height:	30vh;
	margin-top:	5vh;
	
	display:		flex;
	justify-content:space-between;
}

#profile #t2OP div{
	width:	16vw;
}

#profile #t2OP section a{
	margin:		2vh 0;
	
	padding:	0.5vh 0;
	width:		100%;
	
	border-bottom:	0.25vmin solid rgb(200, 200, 200);
	
	color:	rgb(150, 150, 150);
	font:	500 1vmax/1vmax 'Century Gothic';
}

#profile #t2OP section a:hover{
	color:	rgb(30, 30, 30);
	
	border-bottom:	0.25vmin solid rgb(150, 150, 150);
}

#profile #t2OP section p{
	margin-top:	1vmax;
	margin-left:10%;
	
	width:	80%;
	
	text-align:	left;
	
	color:	rgb(180, 180, 180);
	font:	1vmax/1.5vmax 'Century Gothic';
	text-indent:	1vmax;
}

#profile #t2OP section p:hover{
	text-shadow:	0.5px 0.5px rgba(30, 30, 30, 0.5);
}

#profile #t2Nav{
	margin-bottom:	2vh;

	padding:	0.25vmin 0;
	height:		3vh;
	
	border-bottom:	0.25vmin solid rgba(200, 200, 200, 0.8);
	
	text-align:	center;
}

#profile #t2Nav article{
	color:	rgb(200, 200, 200);
	font:	1.25vmax/1.5vmax 'Century Gothic';
}

#profile #t2Nav img{
	float:	left;
	
	height:	3vh;
	width:	auto;
}

#profile #t2CardsContainer{
	margin-top:	2vh;
	
	background:	rgba(251, 251, 251, 0.5);
	
	display:		flex;
	flex-wrap:		wrap;
	justify-content:space-between;
}

#profile #t2CreateStep1{
	display:	flex;
}

#profile .step{
	margin:	2vh 0;
	
	font:	1.5vmax 'Century Gothic';
	color:	rgb(135, 135, 135);
}

.t2CreateWizard{
	display:		flex;
	justify-content:space-between;	
}

.t2CreateWizard .profileButton{
	width:	38.2%;
	background:	rgba(200, 200, 200, 0.25);
}
.t2CreateWizard .profileButton:hover{
	width:	38.2%;
	background:	rgba(220, 220, 220, 0.25);
}

#profile .th_container{
	margin-top:		3vh;
	margin-bottom:	14vh;
	position:	relative;
	
	width:		61.8%;
	flex-direction:	column;
}

#profile .th_container .thin{
	margin-bottom:	4vh;
	
	padding:	0;
	height:		2.5vmax;
	
	border:			0.15vmin solid rgba(200, 200, 200, 0.5);
	border-bottom:	0.175vmin solid rgb(150, 150, 150);
	
	display:		flex;
	justify-content:center;
	align-items:	center;
}

#profile .th_container .thin, #profile .th_container ol{
	width:	50%;
}

#profile .th_container ol{
	position:	absolute;
	top:	0;
	right:	0;
	
	height:calc(2.5vmax + 8vmin);
	
	background:	rgb(250, 250, 250);
}

#profile .th_container #th2 ol{
	top:	calc(2.5vmax + 4vh);
}

#profile .th_container #th3 ol{
	top:	calc(5vmax + 8vh);
}

#profile .th_container #th4 ol{
	top:	calc(7.5vmax + 10vh);
}

#profile .th_container ul li, #profile .th_container ol .th_search{
	height:	calc(2vmin + 0.625vmax);
}

#createNumContainer{
	margin-top:	3vh;
	
	width:		38.2%;
	
	display:		flex;
	flex-direction:	column;
	align-items:	center;
}

.chain{
	position:	relative;
	left:		11.8%;
	
	width:	0.5vmin;
	height:	4vh;
	
	background:	rgb(220, 220, 220);
}

.createNum{
	position:	relative;
	left:		11.8%;
	
	width:	2.5vmax;
	height:	2.5vmax;
	
	background:		rgb(135, 135, 135);
	border-radius:	50%;
	
	font:	1.25vmax 'Century Gothic';
	color:	rgb(220, 220, 220);
	
	display:		flex;
	justify-content:center;
	align-items:	center;
}

.createNumActive{
	background:		rgb(35, 35, 35);
	
	color:	white;
}

#t2CreateStep2{
	display:	flex;
	
	justify-content:	space-between;
}

#t2CreateStep2 .t2CreateWizard{
	position:	absolute;
	bottom:		0;
	
	width:	55vw;
}

#profile .expCard, #profile #createCards .cards{
	z-index:	0;
	position:	relative;
	top:	0;
	right:	0;
	margin: 0;
	
	flex-grow:	0;
	width:	20vw;
	height:	32.36vw;
	
	border:	1px solid rgba(200, 200, 200, 0.5);
}

#profile #createRight{
	margin-left:	1vw;
	position:		relative;
	
	width:		55vw;
}

#profile #opSym{
	width:	100%;
	
	overflow:	hidden;
	
	display:flex;
}

#profile #opSym .dr{
	margin-right:	1%;
	
	padding-right:	0.1vmin;
	width:	49%;
	height:	calc(18vmax + 1vmax + 0.15vmin); 
	
	overflow-y:	scroll;
	
	display:	flex;
	flex-wrap:	wrap;
}

#profile #opSym .dr article{
	margin:	 0 0 0.25vmin 0;
	
	width:	100%;
	height:	2vmax;
	
	background:	rgba(120, 120, 120, 0.8);
	
	color:	rgb(230, 230, 230);
	font:	1.25vmax 'Century Gothic';
	
	display:		flex;
	justify-content:center;
	align-items:	center;
}

#profile #opSym .dr .button{
	margin:	0.25vmin 0.5%;
	
	width:	24%;
	height:	4vmax;
	
	overflow:	hidden;
	background:	rgba(240, 240, 240, 0.8);
	box-shadow:	0.15vmin 0.15vmin 0.2vmin rgba(100, 100, 100, 0.8);
	
	color:	rgb(130, 130, 130);
	font:	1vmax 'Century Gothic';
	
	display:		flex;
	justify-content:center;
	align-items:	center;
}

#profile #opSym .dr .tiny{
	font-size:	1.38vmax;
}

#profile #add{
	width:	100%;
	
	display:	flex;
	flex-wrap:	wrap;
}

#profile #add article{
	margin:	2vh 0;
	
	padding-bottom:		0.75vmin;
	width:			100%;
	
	border-bottom:	0.15vmax solid rgba(120, 120, 120, 0.5);
	
	color:	rgb(120, 120, 120);
	font:	1.25vmax 'Century Gothic';
}

#profile #add div{
	margin:	2vh 1.5%;
	
	width:	30%;
	height:	1.8vmax;
	
	background:	rgba(240, 240, 240, 0.95);
	box-shadow:	0.15vmin 0.15vmin 0.3vmin rgba(150, 150, 150, 0.6);
	
	color:	rgb(80, 80, 80);
	font:	1vmax 'Century Gothic';
	
	display:		flex;
	justify-content:center;
	align-items:	center;
}

#t2CreateStep3{
	margin-left:	10%;
	margin-bottom:	2vh;

	width:		80%;
	
	display:	flex;
	justify-content:	space-between;
}

@media only screen and (max-width: 600px) {
	#profile #t2OP div{
		width:	26vw;
	}
	
	#profile #t2Nav article{
		position:	relative;
		top:		calc(50% - 1vmax);
		
		font:	1.5vmax/2vmax 'Century Gothic';
	}
	
	#profile .th_container .thin{
		width:	16vw;
	}
	
	#profile .th_container ol{
		margin-top:	0.5vh;
		
		width:	23vw;
	}
	
	#profile .th_container .chain{
		width:	7vw;
	}
	
	#profile #opSym .dr{
		margin-left:	5%;
		
		width:	90%;
	}
	
	#profile #opSym .dr .button{
		height:	7vh;
	}
	
	.button .MJXc-display{
		margin:	2vmax 0;
	}
	
	#profile #froggie{
		width:	30vw;
		height:	48.54vw;
	}
	
	#profile #expFroggie{
		width:	30vw;
		height:	48.54vw;
	}
	
	#profile #expFroggie .expScroll{
		margin-left:	5%;
		
		width:	90%;
	}
	
	#profile #expFroggie .expScroll ul{
		padding:	0 0 0 2vw;
	}
	
	#profile .filter .thin{
		width:	35vw;
	}
}

