@{
    ViewBag.Title = "Карточки";
}

<div id="grid">

    <div id="header">
        <div id="mobile_filter_container">
            <div style="border-bottom:4px solid rgb(67, 154, 71);">
                <img src="~/img/cog-magn_plusplus.png" width="20%">
                <span>Настройки поиска:</span>
            </div>

            <div id="mobile_filter">

                @Html.Action("Filter", "Home")

                <p class="menu_button" id="header_button">Искать</p>

            </div>
            <span><input class="search" style="width:100%;font:3vw 'Century Gothic'; padding:5px 0;" type="text" placeholder="Search" results="0" />	</span>
            <section>
                <img src="~/img/close.png" width="2.5%">
                <article>
                    Чтобы сохранить карту, зажимайте карточку. Чтобы просмотреть в расширенном режиме, просто нажмите на неё.
                </article>
            </section>
        </div>
        <input id="searchbar" type="search" name="search" placeholder="search">
    </div>

    <!-----------------------------------------MENU-------------------------------------------->

    <div id="menu">
        <article>Настройки поиска</article>

        <div id="search_type">
            <img id="cog" src="~/img/cog-magn_plusplus.png" width="40%">
        </div>

		<section>

			<p>Поиск в</p>

			@Html.Action("Filter", "Home")

			<p style="content:'';margin-top:20%"></p>

			<p class="menu_button">Искать</p>

		</section>
    </div>

    <div id="edit">
        @Html.Action("GetCards", "Cards")
    </div>

</div>
<div id="screen">

    <div id="active_zone" onclick="$('#screen').fadeOut(800, function () { });"></div>

    <div id="exp_card">
        <div>
            <header id="topic"></header>
        </div>
        <div id="stripe">
            <p>
                <article onclick="$('#screen').fadeOut(800, function () { });">Закрыть</article>
            </p>
        </div>
        <div id="inner">

            <div id="definition">
            </div>

            <div id="exp_formula">
            </div>

            <div id="exp_card_main">
            </div>

        </div>

        <div>
            <footer></footer>
        </div>

    </div>
</div>