@{
    ViewBag.Title = "Карточки";
}

<div id="grid">

	@Html.Action("Filter", "Home")

    <div id="layContent">
        @Html.Action("GetCards", "Cards")
    </div>

</div>
<div class="screen">

    <div id="active_zone" onclick="$('.screen').fadeOut(1000, function () { });"></div>

	<div class="expCard">

		<div class="expHeader">
			<p id="topic"></p>
		</div>

		<div class="expNav">
			<section><article onclick="$('.screen').fadeOut(800, function () { });">Сохранить</article></section>
			<section><article class="expCardSwap">Примеры</article></section>
			<section><article onclick="$('.screen').fadeOut(800, function () { });">Закрыть</article></section>
		</div>

		<div class="expScroll">
			<div class="expTheory">
				<div class="expDefinition">
					<p id="definition"></p>
				</div>

				<div class="expFormula">
					<p id="exp_formula"></p>
				</div>

				<div class="expCardMain">
					<p id="exp_card_main"></p>
				</div>
			</div>

			<div class="expExample">
				<section>
					<div class="expTask">
					</div>
				</section>
			</div>
		</div>


		<div class="expFooter">
			<p></p>
		</div>

		<script>
			$('.expCardSwap').on('click', function () {
				if ($('.expTheory').css('display') == 'none') {
					$('.expExample').hide();
					$('.expTheory').show();
					$(this).text('Примеры');
				}
				else {
					$('.expExample').show();
					$('.expTheory').hide();
					$(this).text('Теория');
				}

			});
		</script>

	</div>
</div>