@{
    ViewBag.Title = "Карточки";
}

<div id="grid">

	@Html.Action("Filter", "Home")

    <div id="edit">
        @Html.Action("GetCards", "Cards")
    </div>

</div>
<div id="screen">

    <div id="active_zone" onclick="$('#screen').fadeOut(800, function () { });"></div>

    <div id="exp_card">
        <div>
            <header id="topic"></header>
        </div>
        <div id="stripe">
            <p>
                <article onclick="$('#screen').fadeOut(800, function () { });">Закрыть</article>
            </p>
        </div>
        <div id="inner">

            <div id="definition">
            </div>

            <div id="exp_formula">
            </div>

            <div id="exp_card_main">
            </div>

        </div>

        <div>
            <footer></footer>
        </div>

    </div>
</div>