@{
	ViewBag.Title = "Карточки";
}
 

<div class="filter">
	<article class="filterTitul">Фильтр</article>

	<section class="filterSearch">
		<input type="search" results="0" />
		<div class="searchButton"><img src="img/magn.png"></div>
	</section>

	<article class="limit">Искать внутри:</article>

	@Html.Action("Filter", "Home")

</div>



@Html.Action("GetCards", "Cards")