@{
	Layout = null;
}

<div class="th th_activated" id="th1">
	<p class="thin">     Предмет		</p>

	<ol>
		<li><input type="search" placeholder="Search" results="0" data-mini="true" /></li>
		<li>
			<ul class="foo">
				<li id="subject1">Ведутся работы</li>
				<li id="subject2">Ведутся работы</li>
				<li id="subject3">Ведутся работы</li>
			</ul>
		</li>
	</ol>

</div>

<div class="th" id="th2">
	<p class="thin">     Раздел		</p>

	<ol>
		<li><input type="search" placeholder="Search" results="0" data-mini="true" /></li>
		<li>
			<ul class="foo">
				<li class="subject1" id="section1_1">Ведутся работы</li>
				<li class="subject1" id="section1_2">Ведутся работы</li>
				<li class="subject2" id="section2_1">Ведутся работы</li>
				<li class="subject2" id="section2_2">Ведутся работы</li>
				<li class="subject3" id="section3_1">Ведутся работы</li>
				<li class="subject3" id="section3_2">Ведутся работы</li>
			</ul>
		</li>
	</ol>

</div>

<div class="th" id="th3">
	<p class="thin">     Подраздел		</p>

	<ol>
		<li><input type="search" placeholder="Search" results="0" data-mini="true" /></li>
		<li>
			<ul class="foo">
				<li class="section1_1" id="sub-section1_1_1">Ведутся работы</li>
				<li class="section1_1" id="sub-section1_1_2">Ведутся работы</li>

				<li class="section1_2" id="sub-section1_2_1">Ведутся работы</li>
				<li class="section1_2" id="sub-section1_2_2">Ведутся работы</li>

				<li class="section2_1" id="sub-section2_1_1">Ведутся работы</li>
				<li class="section2_1" id="sub-section2_1_2">Ведутся работы</li>

				<li class="section2_2" id="sub-section2_2_1">Ведутся работы</li>
				<li class="section2_2" id="sub-section2_2_2">Ведутся работы</li>

				<li class="section3_1" id="sub-section3_1_1">Ведутся работы</li>
				<li class="section3_1" id="sub-section3_1_2">Ведутся работы</li>

				<li class="section3_2" id="sub-section3_2_1">Ведутся работы</li>
				<li class="section3_2" id="sub-section3_2_2">Ведутся работы</li>
			</ul>
		</li>
	</ol>

</div>

<div class="th" id="th4">
	<p class="thin">     Тема		</p>

	<ol>
		<li><input type="search" placeholder="Search" results="0" data-mini="true" /></li>
		<li>
			<ul class="foo">
				<li class="sub-section1_1_1">Ведутся работы</li>
				<li class="sub-section1_1_1">Ведутся работы</li>

				<li class="sub-section1_1_2">Ведутся работы</li>
				<li class="sub-section1_1_2">Ведутся работы</li>

				<li class="sub-section1_2_1">Ведутся работы</li>
				<li class="sub-section1_2_1">Ведутся работы</li>

				<li class="sub-section1_2_2">Ведутся работы</li>
				<li class="sub-section1_2_2">Ведутся работы</li>

				<li class="sub-section2_1_1">Ведутся работы</li>
				<li class="sub-section2_1_2">Ведутся работы</li>

				<li class="sub-section2_2_1">Ведутся работы</li>
				<li class="sub-section2_2_2">Ведутся работы</li>

				<li class="sub-section3_1_1">Ведутся работы</li>
				<li class="sub-section3_1_2">Ведутся работы</li>

				<li class="sub-section3_2_1">Ведутся работы</li>
				<li class="sub-section3_2_2">Ведутся работы</li>
			</ul>
		</li>
	</ol>
</div>