@{
	ViewBag.Title = "Главная";
}

<div id="slideBanner">
	<div class="sl"><img src="img/slides/1.jpg"></div>
	<div class="sl"><img src="img/slides/2.png"></div>
	<div class="sl"><img src="img/slides/3.png"></div>
	<div class="sl"><img src="img/slides/4.jpg"></div>
</div>

<article id="sstudy">
	SStudy
</article>

<section id="mission">
	<div>
		<article>Our Mission</article>
		<img src="img/cup.png">
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra ullamcorper enim vitae pharetra.
		Phasellus bibendum hendrerit bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
		per inceptos himenaeos. Ut vel varius augue, at consequat tortor. Maecenas in.
	</p>
</section>

<article id="how">
	Why choose us?
</article>

<div id="excuses">
	<section class="excusesLeft">
		<article>Because we care</article>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra ullamcorper enim vitae pharetra.
			Phasellus bibendum hendrerit bibendum.
		</p>

		<div class="tail"></div>
	</section>

	<section class="excusesRight">
		<article>Because we said so</article>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra ullamcorper enim vitae pharetra.
			Phasellus bibendum hendrerit bibendum.
		</p>
		<div class="tail"></div>
	</section>

	<section class="excusesLeft">
		<article>Just ducking do it!</article>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra ullamcorper enim vitae pharetra.
			Phasellus bibendum hendrerit bibendum.
		</p>
		<div class="tail"></div>
	</section>
</div>

<script>
	var myVar;

	$(document).ready(function () {
		$('.sl').first().addClass('current_sl');
		slides();
	});

	$(".sl").hover(
		function () {
			clearTimeout(myVar);
		}, function () {
			slides();
		}
	);

	function slides() {

		myVar = setInterval(function () {
			$('.current_sl').addClass('dummy');

			var nextSlide;

			if ($('.current_sl').next().length == 1) {
				nextSlide = $('.current_sl').next();
			}
			else {
				nextSlide = $('.sl').first();
			}

			$('.current_sl').hide(800);

			nextSlide.fadeIn(1500, function () { });
			nextSlide.addClass('current_sl');

			$('.dummy').removeClass('current_sl dummy');
		}, 8000);
	}
</script>