@{
	ViewBag.Title = "Личная страница";
}

<div id="profile">
	<article id="profileTitul">Личный кабинет</article>

	<nav>
		<article class="profileNavActive">
			@Ajax.ActionLink("Профиль", "Prof",
			new AjaxOptions
			{
				UpdateTargetId = "profileContent"
			})
		</article>

		<article>
			@Ajax.ActionLink("Карточки", "ProfCardMenu",
			new AjaxOptions
			{
				UpdateTargetId = "profileContent"
			})
		</article>
	</nav>

	<div id="profileContent">
		@Html.Action("Prof")
	</div>

</div>
