@{
	ViewBag.Title = "Личная страница";
}

<div id="profile_frame" style="width:96%;background:rgb(35, 35, 35);padding:0.5% 0;position:relative;left:2%;">
    <div id="profile" style="padding-bottom:2%;">
        <nav>
            <section class="pr_nav_active" style="margin-top:0;">
                @Ajax.ActionLink("Профиль", "Prof",
                new AjaxOptions
                {
                    UpdateTargetId = "pr_main"
                })
            </section>
            <section style="right:2.5vmin">
                @Ajax.ActionLink("Карточки", "ProfCard",
                 new AjaxOptions
                 {
                     UpdateTargetId = "pr_main"
                 })
            </section>
        </nav>

        <div id="pr_main" style="padding-top:0.5%;">
            @Html.Action("Prof")
        </div>
    </div>
</div>
