@{
	Layout = null;
}

<article class="t2_sec">
	Шаг 1:
</article>

<div id="make_min">

	<section>
		<div id="pr_sel">
			@Html.Action("Filter", "Home")
		</div>

		<a class="pr_make_button" href="#make_exp" style="width:50%;display:inline-block;margin-right:-4px;">
			Назад
		</a>

		<div class="pr_make_button" href="#make_exp" style="display:inline-block;margin-right:-4px;width:50%;">
			@Ajax.ActionLink("Далее", "CreateStep2",
								new AjaxOptions
								{
									UpdateTargetId = "pr_content"
								})
		</div>

	</section>

	<section id="card_window">
		<div class="cards">
			<div class="header lvl2">
				<p>Раздел</p>
			</div>
			<div class="section lvl3">
				<p>Подраздел</p>
			</div>
			<div class="sub-section lvl4">
				<p>Тема</p>
			</div>
			<div class="formula">
				<p>Формула</p>
			</div>
			<div class="footer">
				<p style="color:white;"></p>
			</div>
		</div>
		<article>
			Отображение карточки
		</article>

	</section>

	<script>
		$(document).ready(function () {
			$('.cards').css('height', $('.cards').width() * 1.618);
		});
	</script>

</div>