@model MvcInternetApplication.Models.LocalPasswordModel

@{
	Layout = null;
}

<div id="t1">
	<form>
		<section>
			<span>Почта</span>
			<input type="text" value="example@sstudy" disabled>
		</section>

		<section>
			<span>Пароль</span>
			<input type="password" value="******" disabled>
		</section>

		<section class="profileEdit">
			<span>Потвердить пароль</span>
			<input type="password" value="******" disabled>
		</section>

		<section>
			<span>Аккаунт Соц-медии</span>
			<input type="text" value="Dave Johnson" disabled>
		</section>

		<section style="display:flex">
			<div class="profileButton editProfileButton">Edit profile</div>
			<div class="profileButton profileEdit">Ok</div>
		</section>
	</form>

	<script>
		$(document).ready(function () {
			$('#profile .profileEdit').hide();
		});

		$('.editProfileButton').on('click', function () {
			if ($(this).hasClass('cancel') == false) {
				$('.profileEdit').show(800);
				$('#profile form input').prop('disabled', false);

				$(this).text('Cancel');
				$(this).addClass('cancel');
			}
			else {
				$('.profileEdit').hide(800);
				$('#profile form input').prop('disabled', true);

				$(this).text('Edit profile');
				$(this).removeClass('cancel');
			}

		});
	</script>

	<div id="profileData">
		<div id="avatar">
			<img src="img/avatarMale.png">
		</div>

		<div class="profileButton">Change profile pic</div>

		<ul>
			<li><span>Saved Cards:</span>	<p>5</p></li>
			<li><span>Created Cards:</span>	<p>8</p></li>
			<li><span>Approved Cards:</span><p>22</p></li>
		</ul>
	</div>
</div>