@{
	ViewBag.Title = "ProfCardMenu";
	Layout = null;
} 
<div id="t2">
	<div id="t2OP">
		<article id="choose">
			What do you want to open?
		</article>

		<section>

			<div>
				@Ajax.ActionLink("Сохранённые карточки", "ProfCard", "Profile",
								new AjaxOptions
								{
									UpdateTargetId = "profileContent"
								})
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae pharetra nunc.
					Etiam vel mauris ut enim sollicitudin dictum.
				</p>
			</div>

			<div>
				@Ajax.ActionLink("Создать карточку", "CreateCard1", "Profile",
									new AjaxOptions
									{
										UpdateTargetId = "profileContent"
									})
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae pharetra nunc.
					Etiam vel mauris ut enim.
				</p>
			</div>

			<div>
				@Ajax.ActionLink("Одобрить карточки", "ApproveCard", "Profile",
									new AjaxOptions
									{
										UpdateTargetId = "profileContent"
									})
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae pharetra nunc.
					Etiam vel mauris ut enim sollicitudin dictum. Maecenas aliquam.
				</p>
			</div>

		</section>

	</div>
</div>
