@{
	Layout = null;
}

<div id="t2">
    <style>
        #t2 {
            display: flex;
            flex: 1;
        }
    </style>

    <div id="t2_collumn" style="border-right:1px solid black;">
        <article>
            @Ajax.ActionLink("Сохранённые", "ProfSavedCards",
             new AjaxOptions
             {
                 UpdateTargetId = "pr_content"
             })
        </article>

        <article class="t2_nav_active">
            @Ajax.ActionLink("Создать новую", "CreateStep1",
			  new AjaxOptions
			  {
				  UpdateTargetId = "pr_content"
			  })
        </article>

        <article>
            @Ajax.ActionLink("Одобрить новую", "ProfVoteCards",
			  new AjaxOptions
			  {
				  UpdateTargetId = "pr_content"
			  })
        </article>
    </div>

    <div id="pr_content">
        @Html.Action("ProfSavedCards", "Profile")
    </div>

</div>