@{
	Layout = null;
}

<div id="t2">
    <style>
        #t2 {
            display: flex;
            flex: 1;
        }
    </style>

    <div id="t2_collumn" style="margin-left:0.5%;border-right:1px solid black;">
        <article>
            @Ajax.ActionLink("Сохранённые карточки", "ProfSavedCards",
             new AjaxOptions
             {
                 UpdateTargetId = "pr_content"
             })
        </article>

        <article class="t2_nav_active">
            @Ajax.ActionLink("Создать новую карточку", "ProfCreateCardsMin",
			  new AjaxOptions
			  {
				  UpdateTargetId = "pr_content"
			  })
        </article>

        <article>
            @Ajax.ActionLink("Одобрить новую карточку", "ProfVoteCards",
			  new AjaxOptions
			  {
				  UpdateTargetId = "pr_content"
			  })
        </article>
    </div>
    
    <!--наверху была менюшка с левой стороны; она должна вызывать ProfSavedCards, ProfCreateCards, и ProfVoteCards-->

    <div id="pr_content">
        <!--Вызови ProfSavedCards-->
    </div>

</div>